.interviewQuestions {
    color: #000 !important;
    font-size: 14px;
    padding: 80px 40px;
    height: 100vh;
    &-goBackBtn {
        font-size: 20px;
        cursor: pointer;
        color: rgba(49,58,66, 0.5);
        &:hover {
           color: #b79cff
        }
    }
}