.dailyQuoteContainer {
    border: solid #b79cff 1px;
    border-radius: 5px;
    margin: 15px 0;
    padding: 15px;

    &-separatorText {
        background-color: #b79cff;
        margin: 10px 0;
        height: 3px;
        width: 100%;
    }
}