.draw {
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    position: relative;
    color: #FFFF;
}

.shine-left {
    width: 30px;
    height: 700px;
    background-color: rgba(240, 248, 255, 0.2);
    position: absolute;
    left: 13px;
    top: 30px;
    border-radius: 40px;
}

.shine-right {
    width: 30px;
    height: 700px;
    background-color: rgba(207, 162, 13, 0.2);
    position: absolute;
    right: 13px;
    top: 30px;
    border-radius: 40px;
 }

.screen-container {
    width: 500px;
    height: 750px;
    background-color: #FDD661;
    border: 10px solid #7A3271;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: dashed solid solid double;
}

.screen {
    width: 400px;
    height: 600px;
    background-color: #9B7BC7;
    border: 10px solid #7A3271;
    border-radius: 35px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.screen:after {
    content: "";
    height: 500px;
    width: 20px;
    background-color: #eeeeee42;
    position: absolute;
    left: 5px;
    border-radius: 20px;
}

.screen:before {
    content: "";
    height: 530px;
    width: 20px;
    background-color: rgba(121, 50, 112, 0.43);
    position: absolute;
    right: 0px;
    border-radius: 20px;
}

.eye {
    width: 15px;
    height: 20px;
    background: rgba(240, 248, 255, 0.2);
    border-radius: 20px;
    position: absolute;
    display: inline-block;
    top: 20px;
}

.eye.l {
    left: 40px;
}

.eye.r {
    right: 40px;
}

.mouth {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid rgba(240, 248, 255, 0.2);;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(135deg);
}

.button {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #ff79a5;
    border: 15px solid #7A3271;
    align-self: flex-start;
    margin: 0 0 20px 0;
}

.button:hover {
    background-color: #db7093;
    cursor: pointer;
}

.face {
    width: 130px;
    position: relative;
}