.helloText {
    font-weight: bold;
}

.contactSocialMedia {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.separatorText {
    background-color: rgba(49,58,66, 0.5);
    height: 1px;
    margin-top: 80px;
    width: 100%;
}

.socialIcon {
    color: rgba(49,58,66, 0.5);
    font-size: 20px;
    &:hover{
        color: #63cabe;
    }

}
