.quoteCard {
    color: #000;
    .information {
        margin: 10px 0;
        .aboutText {
            margin: 10px;
        }
    }
}

.tag {
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    
    &.blue {
        border: solid #477cbe 1px;
        &:hover{
            background-color: #477cbe;
        }
    }
    &.cyan {
        border: solid #17a2b8 1px;
        &:hover{
            background-color: #17a2b8;
        }
    }
    &.purple {
        border: solid #b79cff 1px;
        &:hover{
            background-color: #b79cff;
        }
    }
}
