.quoteCard {
    color: #000;
    .information {
        margin: 10px 0;
        .aboutText {
            margin: 10px;
        }
    }
    .dailyQuoteContainer {
        border: solid #b79cff 1px;
        border-radius: 5px;
        margin: 15px 0;
    
        & .dailyQuoteContainer_separatorText {
            background-color: #b79cff;
            margin: 10px 0;
            height: 3px;
            width: 100%;
        }
    }
}

.tag {
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    
    &.blue {
        border: solid #477cbe 1px;
        &:hover{
            background-color: #477cbe;
        }
    }
    &.cyan {
        border: solid #63cabe 1px;
        &:hover{
            background-color: #63cabe;
        }
    }
    &.purple {
        border: solid #b79cff 1px;
        &:hover{
            background-color: #b79cff;
        }
    }
}
